@model TGNS.Core.Data.IFeedback

@{
    ViewBag.Title = "Feedback Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="copyDiv">
    <h2>@Html.DisplayFor(model => model.Subject)</h2>
    <div>
        From <span>@Html.DisplayFor(model => model.PlayerId)</span> at @Html.DisplayFor(model => model.Created) :
        <blockquote><pre>@Html.DisplayFor(model => model.Body)</pre></blockquote>
    </div>
</div>
<div style="text-align:right;color:gray;font-size: small;">
    Press Ctrl-C twice to copy feedback to clipboard.
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>